[submodule "src/yaml-cpp"]
	path = src/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "src/lua"]
	path = src/lua
	url = https://github.com/lua/lua.git
[submodule "src/glm"]
	path = src/glm
	url = https://github.com/g-truc/glm.git
